@tailwind components;
@tailwind utilities;
@tailwind base;

@font-face {
    font-family: 'General Sans';
    src: url('/fonts/GeneralSans/GeneralSans-Regular.woff2') format('woff2'),
        url('/fonts/GeneralSans/GeneralSans-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('/fonts/GeneralSans/GeneralSans-Bold.woff2') format('woff2'),
        url('/fonts/GeneralSans/GeneralSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('/fonts/GeneralSans/GeneralSans-Medium.woff2') format('woff2'),
        url('/fonts/GeneralSans/GeneralSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('/fonts/GeneralSans/GeneralSans-Semibold.woff2') format('woff2'),
        url('/fonts/GeneralSans/GeneralSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --tech: #477bff;
    --management: #f5a20a;
    --design: #9747ff;
    --video: #ff5247;
    --light-gray: #ece0d8;
    --dark-gray: #131313;
    --peach: #ece0d8;
    --tech-bg: #477bff20;
    --management-bg: #f5a20a20;
    --design-bg: #9747ff20;
    --video-bg: #ff524720;
}

body {
    background: #131313;
    color: #ece0d8;
    margin: 0;
    font-family: 'General Sans';
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.unselectable {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
a {
    @apply text-zinc-400;
}

.content {
    max-width: 960px;
    margin: 0 auto;
}

footer {
    display: block;
    text-align: center;
    padding: 30px 0;
    margin-top: 60px;
    color: #777;
    border-top: 1px solid #eaeaea;
}

.not-found {
    text-align: center;
}

.not-found a {
    color: #4979ff;
    text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px rgb(0, 0, 0);  */
    /* border-radius: 10px; */
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    /* border-radius: 10px; */
}

::-webkit-scrollbar-track-piece:start {
    background: white;
}
