@tailwind components;
@tailwind utilities;
@tailwind base;

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans/GeneralSans-Regular.woff2") format("woff2"),
    url("/fonts/GeneralSans/GeneralSans-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans/GeneralSans-Bold.woff2") format("woff2"),
    url("/fonts/GeneralSans/GeneralSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans/GeneralSans-Medium.woff2") format("woff2"),
    url("/fonts/GeneralSans/GeneralSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans/GeneralSans-Semibold.woff2") format("woff2"),
    url("/fonts/GeneralSans/GeneralSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  background: #131313;
  color: #ece0d8;
  margin: 0;
  font-family: "General Sans";
}

a {
  @apply text-zinc-400;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}
.not-found {
  text-align: center;
}
.not-found a {
  color: #4979ff;
  text-decoration: underline;
}